:root{
    --backgroundColor : #212F2B;
    --fontColor: #DDDDDD;
    --fontSizeMobileV1: 20px;
    --fontFamily: "Verdana";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
html,body,.main-container,.container{
    scroll-behavior: smooth;
}

#main-container{
    width: 100vw;
    max-height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var(--backgroundColor);
   

}
#main-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--backgroundColor)

}
#frame{
    position:fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 2em 4em;
    z-index: 12;
}
.nav2{
    position:fixed;
    display: flex;
    right: 1em;
    top: 6em;
}
.nav3{
    position:fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    left: 220px;
}
.scrollCursor{
    width: 20px;
    height: 20px;
}
.windturbin{
    width: 5%;
    height:50%;
    position: absolute;
    bottom: 0%;
    left: 25%;

}
.windturbinSpin{
    width: 40%;
    height: 60%;
    position: absolute;
    bottom: 17%;
    left: 7.5%;
    
}
.windAnimation{
    animation-name: windTurbin;
    animation-duration: 2s;
}

@keyframes windTurbin{
    0%{ }
    100%{ transform: rotate(120deg)}
}
#header{
    position: fixed;
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}
#logo{
    border: 1px solid black;
    padding: 0 15px;
}
.btn{
    width: 10%;
    height: 2em;
    background-color: transparent;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 4px;
    --animate-duration: 2s;
}
.icon{
    width: 30px;
    height: 40px;
}
#sideNav{
    position: fixed;
    height: 70%;
    width: 10%;
    z-index: 1;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.line {
    width: 1px;
    height: 150px;
    background-color: var(--fontColor);
   
}
.line3{
    position: fixed;
    right: 5%;
    width: 200px;
    height: 1px;
    bottom: 10%;
    transform: rotate(180deg);
}

.social{
    width: 30px;
    height: 30px;
}
#bottomNav{
    height: 10%;
    position: fixed;
    justify-content: flex-end;
    bottom: 10%;
    right: 10%;
}
.container{
   width: 400vw;
   display: flex;
   flex-direction: row;
   background-color: var(--backgroundColor);
    
}
.sections{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    z-index: 11;
}
#textContainer{
    color: var(--fontColor);
    width: 60%;
    height: 50%;
    margin-top: 50px;
    margin-right: -20px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}
#spanReplace{
    color: var(--fontColor);
}
#heading{
    animation-duration: 0.5s;

}
#textContainer p{
    animation-duration: 0.5s;
}
img{
    width: 20%;
    height: 40%;
    
}
.bigCircle{
    background-color: var(--fontColor);
    width: 10px;
    height: 10px;
}
/* scroll */
::-webkit-scrollbar {
    display: none;
}

#backgroundImg{
    width: 2000px;
    height: 100vh;
    position: absolute;
    right: -220%;
    bottom: 0px;
    z-index: 22;
}



/* Mobile version under 800px */
#verticalDevice{
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#verticalDevice p{
    width: 50%;
    margin: 0 auto;
    color: var(--fontColor);
    font-family: var(--fontFamily);

}
#verticalDevice img{
    width: 82px;
    height: 165px;
}
.phone{
    width: 100px;
    position: relative;
    margin: 0;
    padding: 0;
    margin: 20px;
}
.phoneX{
  top: 5%;
    
}
.phoneY{
    transform: rotate(90deg);
    position: relative;
    bottom: -23%;
    left: 10%;
}
#imgContainer{
    display: flex;
}
/* Form Example */
#formExample{
    display: none;
}
.heading{
    text-transform: uppercase;
}

