
#container{
    width: 100vw;
    height: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style:none;
    
}

#row{
    display: flex;
    flex-direction: row;
    width: 100vw;
    white-space: nowrap;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.section{
    max-width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    display: inline-block;
    position: relative;
}






.line1{

}
.line2{

}




#pageNumber{
    position: absolute;
    z-index: -2;
    right: 15%;
    color: var(--fontColor);
}
#pageNumber h1{
    font-size: 10px;
    font-weight: normal;
}
#pageNumber h1 span{
    font-size: 15px;
    font-weight: bold;

}
.leftArrow{
    transform: rotate(180deg);
    position: relative;
    left: 8%;
    bottom: 15%;
    z-index: -3;
}
.rightArrow{
    position: relative;
    right: 8%;
    bottom: 15%;
    z-index: 10;
}
.showInfo{
    width: 70%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#content{
    height: 100%
}

#canva{
    background-image: url(../img/background.png);
    width: 100%;
    height: 100%;
}
#textContainer{
    width: 439px;
    height: 196px;
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamily);
    color: var(--fontColor);
    margin: auto;
    position: relative;
    top: 0%;
    left: 13%;
    align-items: center;
}